

.footer {
  height: 10rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: black;
  display: flex;
  z-index: 20;
}

.stuff {
  justify-content: center;
  align-items: center;
  color: white;
}