.App {
  text-align: center;
  background-color: #a9b8d4;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  
  flex-direction: column;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
