.App {
  background-color: #FFFC00;
  min-height: 100vh;
  display: block;
  padding: 24px 15px;
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  
}

.steps {
  font-size: calc(6px + 2vmin);
  color: rgb(0, 0, 0);
  margin-top: 2rem;
}

ul {
  list-style: none;
  line-height: 3rem;
}

h1 {
  font-size: calc(13px + 2vmin);
}
